<?xml version="1.0" encoding="utf-8" ?>
<packages>
    <package id="NuGet.Core" version="2.14.0" />
    <package id="MvvmLightNavigationServiceExtension.Forms" version="1.2.7" />
    <package id="MvvmLightPreview" version="4.1.21" />
    <package id="MvvmNano.Forms" version="3.2.0" />
    <package id="MvvmNano.TinyIoC" version="3.2.0" />
    <package id="MvvmNotificationChainer" version="2.0.0" />
    <package id="MVVMS" version="3.2.0" />
    <package id="MVVMSidekick.Snippet" version="1.0.0.4" />
    <package id="MvvmStructure" version="1.0.8" />
    <package id="MvvmSuperLite" version="1.0.0" />
    <package id="MVVMT4" version="2.1.1.1" />
    <package id="MVVMTemplateSelection" version="0.4.7" />
    <package id="MVVMTruNguyen" version="1.0.0.2" />
    <package id="MvvmValidation" version="3.1.0" />
    <package id="MvvX.Plugins.AssemblyFinder" version="1.1.19" />
    <package id="MvvX.Plugins.FileChooser" version="1.1.13" />
    <package id="MvvX.Plugins.Open-XML-SDK" version="1.5.19" />
    <package id="Mvx.Picasso" version="1.0.1" />
    <package id="Mvx.Plugins.Settings" version="1.4.1" />
    <package id="MvxAdvancedPresenters" version="1.0.1" />
    <package id="MvxPlugins.Picker.iOS" version="1.1.1" />
    <package id="MvxTagsView" version="1.0.3" />
    <package id="mwantia.Net.v46.Ene.Services" version="1.0.0" />
    <package id="Mwei.Tools.KillProcess" version="2.0.0" />
    <package id="MWSClientCsRuntime" version="1.0.0" />
    <package id="MWSOrdersService" version="1.0.0" />
    <package id="MwtClientLibrary" version="1.0.0.4" />
    <package id="Mxic.Framework.ServerComponent.ServiceTemplate" version="1.0.0" />
    <package id="Mxic.Framework.ServiceClient.Angular.Package" version="1.0.0" />
    <package id="Mxm.Kentico.DocumentLoader" version="0.0.4" />
    <package id="Mxm.Kentico.Infrastructure" version="0.0.1" />
    <package id="Mxm.Mvc.Extension" version="0.0.4" />
    <package id="Mxm.Mvc.Helper" version="0.0.1" />
    <package id="Microsoft.AspNet.Mvc" version="5.2.5-preview1" />
</packages>